extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    .hero__wrapper
    .hero__links
      ul.socials
        each item in ['vk', 'github', 'in']
          li.socials__item
            a(href="#").socials__link
              +icon(item, 'socials__link-icon')
    .hero__menu
      a(href="assets/images/hamburger-menu.svg#hamburger-menu").hamburger

    .hero__title
      .section-title
        img(src="assets/images/sections/hero/portfolio_header.png", alt="name-site").section-title__pic
      
      .user.hero__user
        .user__pic
          img(src="assets/images/sections/hero/men.png", alt="handsome-men").user__pic-img
        .user__description
          .user__name Владимир Астахов
          .user__info Личный сайт веб разрабочика

    
    a(href="assets/images/icons/sprite.svg#arrow_down").down-btn.hero__down-btns

  section.about
    .about__left
      .about__triangle
        svg.triangle.triangle_fill_white
          svg(class=`${iconClass}`)
      .about__left-title
        .my__works--box
          h1.my__header <span class="working-slider__span"> &#045;</span> Обо мне <span class="working-slider__span"> &#045;</span>
      .about__left-content
        .user-description
          .user-description__image
            img(src="assets/images/sections/hero/men.png", alt="handsome-men").user-description__avatar
          .user-description__data
            .user-description__title
              .block-subtitle Кто я
            .user-description__text.text-content
              p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .about__right
      .about__triangle
        svg.triangle.triangle_fill_beige
          use(xlink:href='/assets/images/icons/sprite.svg#triangle_my-rigth')
      .about__right-title
        .block-subtitle Чем я могу быть вам полезен
      .about__right-description.text-content
        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .about__right-content
        -
          var skills = [
            ['Frontend', [['Html5', 70], ['css3', 50], ['javascript', 60]]],
            ['Backend', [['PHP', 70], ['mySQL', 40], ['Node.js & npm', 70]]],
            ['WorkFlow', [['Git', 70], ['Gulp', 50], ['Bower', 70]]]
          ]

        ul.skills-list
          each skillsrow in skills
            li.skills-list__item.skills-row
              .skills-row__title #{skillsrow[0]}
            ul.skills-row__list
              each skill in skillsrow[1]
                li.skills-row-item
                  figure.skill(data-precence="70")
                    svg(viewBox="0 0 100 100" preservAspectRatio="none").skill_figure
                      circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                      circle(cx="50" cy="50" r="40").skill__circle.skill__circle_above
                    .skill__title #{skill[0]}
  section.map
    #map
      .map__data
        h2.contacts__tittle
          .block-subtitle Контакты
        address.contacts__data
         ul.contacts__list
          li.contacts__list-row
            svg.list-row--icons
              use.contacts__icon-img(xlink:href="../assets/images/skype.svg#skype" width="25px" height="25px")
            .list-row--describe yam
          li.contacts__list-row
            svg.list-row--icons
              use.contacts__icon-img(xlink:href="../assets/images/message.svg#message" width="25px" height="25px")
            .list-row--describe yamov230@gmail.com
          li.contacts__list-row
            svg.list-row--icons
              use.contacts__icon-img(xlink:href="../assets/images/phone_contacts.svg#phone_contacts" width="25px" height="25px")
            .list-row--describe +7931-579-96-45
          li.contacts__list-row
            svg.list-row--icons
              use.contacts__icon-img(xlink:href="../assets/images/map-marker.svg#map-marker" width="30px" height="30px")
            .list-row--describe ул. Проспект Славы
