extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='blog.bundle.js')

block content
  section.blog
    .hero__links
      ul.socials
        each item in ['vk', 'github', 'in']
          li.socials__item
            a(href="#").socials__link
              +icon(item, 'socials__link-icon')
    .hero__menu
      a(href="assets/images/hamburger-menu.svg#hamburger-menu").hamburger

    .hero__title
      .section-title
        img(src="assets/images/sections/hero/portfolio_header.png", alt="name-site").section-title__pic
      
      .user.hero__user
        .user__pic
          img(src="assets/images/sections/hero/men.png", alt="handsome-men").user__pic-img
        .user__description
          .blog__title Блог
          .user__info Статьи которые я написал

    
    a(href="assets/images/hamburger-menu.svg#hamburger-menu").down-btn.hero__down-btns

  section.blog__content
    .blog__left
      ul.blog__list
        li.blog__item
          a.blog__item--link Самое важное в SASS
        li.blog__item
          a.blog__item--link Приемы в верстке без которых не обходиться не один сайт
        li.blog__item
          a.blog__item--link Самый необходимый набор Gulp плагинов
        li.blog__item
          a.blog__item--link Почему я выбрал Jade
    .blog__right
      ul.blog__right--list
        li.blog__right--item
          h4.blog__right--header Самое важное в SASS
          span.blog__date 22 ноября 2016
          p.blog__right--content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.blog__right--content Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          img(src="assets/images/sections/blog/pice__code.jpg", alt="pice-code").blog__right--pict
        li.blog__right--item
          h4.blog__right--header Приемы в верстке без которых не обходиться не один сайт
          span.blog__date 13 ноября 2017
          p.blog__right--content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.blog__right--content Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.