.block-title {
    font-size: 62.792px;
        font-family: 'bernier';
    color: #373e42;
}

.block-subtitle {
        font-size: 35px;
        font-family: 'bernier';
        color: rgb(69, 90, 100);
        line-height: 1.171;
        text-align: center;
}