.my__works {
    background: #faf8f0;
    height: 10%;
}

.my__works--box {
    padding: 30px;
    margin: 0 auto;
    background: url("assets/images/sections/works/works_header.png") no-repeat center;
}

.my__header {
    font-family: 'bernier';
    color:rgb(55, 62, 66);
    font-size: 62.792px;
    text-align: center;
}