.skill {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
}

.skill_figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.skill__circle {
    fill: transparent;
    stroke: rgb(160, 159, 159);
    stroke-width: 10px;
    stroke-dasharray: 251;
    stroke-dashoffset: 51;
}

.skill__circle_above {
    stroke: $green;
}