.welcome {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: url("assets/images/sections/hero/mount__bg.png") center center /
    cover no-repeat;
    justify-content: center;
    align-items: center;
}

.welcome__btn {
    width: 10%;
    text-align: center;
    justify-content: flex-end;
    margin: 20px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: auto;
    background: none;
    transition: ease 1s;

    &:hover {
        background: rgba(255, 255, 255, 0.8);
        color: gray;

    }
}

.welcome__data {
    //height: 15%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 0.5%
}

.user {
    display: flex;
    flex-direction: column;
}

.welcome__user {
    padding: 20px ;
    

}

.welcome__user-pic {
    margin: 0 auto;
}

.user__pic-img {
  width: 147px;
  height: 147px;
  border-radius: 50%;
}

.welcome__user-description {
    text-align: center;
    color: #50636d;
    padding: 25px;

    .welcome__user-name {
        text-align: center;
        font-size: 35px;
        font-family: "Roboto";
    }

    .welcome__user-info {
        text-align: center;
            font-size: 16px;
            line-height: 1.5;
    }
}

.welcome__socials {
    justify-content: center;
    align-items: center;
    //fill: #73d4c8;
}

.socials__list {
    display: flex;
    justify-content: center;
}
.welcome__socials__link-icon {
    width: 30px;
    fill: #73d4c8;
    height: 30px;
    margin-top: 20px;
    
    &:hover {
        fill: #00bfa5;
    }
}

.welcome__menu {
    justify-content: center;
    margin: 0 auto;

    .menu__list {
        
    }

    .menu__item {
        text-align: center;
        border-left: 2px solid #e6eaed;

        &:first-child {
            border-left: none;
        }
    }

    

    .menu__link {
        //padding: 10px;
        background: rgba(20, 183, 162, 0.6);
    }
    &:hover {
        background: rgba(7, 139, 130, .6);
    }
}
